body{
    background-image:url("https://images.unsplash.com/photo-1764591696226-ea4e8d655bc7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


p{
    color: red;
    /*font-size: 32px;*/
    width: 30%;
    height: 50px ;
    background-color:lavender;
    display: inline-block;
}
h2, h3{color: blue}
sub, sup {font-size:16px;
color:  tan;
}
span{ color: red;
/*font-size: 40px;*/
    width: 30%;
    height: 50px ;
    background-color:lavender;
    display: inline-block ;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
