.cards {
    list-style: none;
    padding: 0;
    margin: 10px 0;

    display: flex;
    flex-direction: row;
    gap: 8px;


}



.cards li{
    background: rgba(180, 184, 182, 0.6 );
    padding: 10px 13px ;
    font-size: 20px ;

}
.hearts, .diams {
    color: red;
}
.clubs, .spades {
    color: black;
}
