body{
    margin-top: 0;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px ;

}
.card{
    width: 220px;
    height: 220px;
    outline: none;
    display: flex;
    flex-direction: column;
    background-color: #f3d9d9;
    justify-content: space-around ;
}
.card p{

    text-align: center;
}
.rubik-pixels{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}
.sedgwick-ave-display{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
.dancing-script{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.fjalla-one{
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.indie-flower{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

