*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #afadad;
}
h1{
    text-align: center;
    padding: 50px 0;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 0;

}
.card{
    width: 250px;
    height: 300px;
    border: 1px solid #807f7f;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card p{
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.card img{
    width: 75%;
    height: 80%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
p{
    text-align: center;
    font-size: 25px;
    padding: 20px 0;
}