* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

section p {
    width: 85%;
    font-size: 20px;
}

section a {
    color: black;
    font-size: 50px;
}

#pink {
    background-color: #f1abdf;
}

#red {
    background-color: #ff0000;
}

#grey {
    background-color: #807f7f;
}