body{
    margin: 3%;
}
header{
    height: 40vh;
    width: 80%;
    margin: 20px auto;
    background-color: #1616f6;
    display: flex;
    justify-content: center;
    align-items: center;

}
header p{
    color: white;
    font-size: 50px;
    margin: 0;
}

.container{
    width: 80%;
    margin: 20px auto;
    display:flex;
    justify-content: space-between;
}
section{
    height: 50vh;
    width: 30%;
    background-color: #040497;
    display: flex;
    justify-content: center;
    align-items: center;

}
section p{
    color: white;
    font-size: 35px;
}
footer{
    height: 80vh;
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1616f6;
}
footer p{
    color: white;
    font-size: 50px;
}